<h1 i18n="site header| some description@@hel">Hello from Demo</h1>
<h1 i18n="site header| another description">Another Hello from Demo</h1>
<h1 i18n="@@Hello">Hello from Demo</h1>
<p i18n="@@description">This is localization demo</p>
<ul>
  <li>
    <strong i18n="@@currentDate">Current Date</strong>
    {{today | date}}
  </li>
  <li>
    <strong i18n="@@formattedNumber">Formatted Number</strong>
    {{numberValue | number:'1.2-2'}}
  </li>
  <li>
    <strong i18n="@@formattedCuurency">Formatted Currency</strong>
    {{numberValue | currency}}
  </li>
  
</ul>
{{test}}
<nav>
  <button *ngFor="let locale of locales" (click)="switchLocale(locale.url)">{{locale.titel}}</button>
</nav>